version: "3.5"
services:
  webui:
    build:
      context: webui
    container_name: openwebui.ollama-openwebui.dnp.dappnode.eth
    environment:
      OLLAMA_BASE_URL: http://ollama:11434
      WEBUI_AUTH: "true"
    volumes:
      - webui:/app/backend/data
    restart: unless-stopped
    depends_on:
      - ollama
  ollama:
    build:
      context: ollama
    container_name: ollama.ollama-openwebui.dnp.dappnode.eth
    volumes:
      - ollama:/root/.ollama
    restart: unless-stopped
    environment:
      - OLLAMA_LOG_LEVEL=debug
      - OLLAMA_METRICS=1
      - OLLAMA_LOG_FORMAT=json
      - OLLAMA_TELEMETRY=0
      - OLLAMA_CONTEXT_LENGTH=64000
volumes:
  ollama: {}
  webui: {}
