version: "3.5"

services:
  webui:
    build:
      context: webui
      args:
        WEBUI_VERSION: v0.6.34
    container_name: openwebui-nvidia.ollama-openwebui.dnp.dappnode.eth
  ollama:
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
    build:
      context: ollama
      args:
        OLLAMA_VERSION: 0.15.1
    container_name: ollama-nvidia.ollama-openwebui.dnp.dappnode.eth
