version: "3.5"

services:
  webui:
    build:
      context: webui
      args:
        WEBUI_VERSION: main
    container_name: openwebui-nvidia.ollama-openwebui.dpn.dappnode.eth
  ollama:
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
    build:
      context: ollama
      args:
        OLLAMA_VERSION: 0.12.6
    container_name: ollama-nvidia.ollama-openwebui.dpn.dappnode.eth
